.entry {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: darkgray;
  overflow: hidden;
}

.entry > div {
  padding: 5px;
  background-color: white;
}

.entry > .title {
  background-color: orange;
  color: white;
  padding: 5px 10px;
}

.entry > .description {
  flex-grow: 1;
  flex-shrink: 1;
}

.entry > div:not(.title) {
  margin: 0 5px;
}

.entry > div:last-child {
  margin-bottom: 5px;
}
