/**
META
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/**
SCHEDULE
*/

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/**
HEADER
*/

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/**
GRID
*/

.schedule-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/**
TIME COLUMN
*/

.column-timing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 10px;
}

.column-timing > div:first-child {
  padding: 5px;
  flex-basis: 30px;
  font-size: large;
}

.timings {
  display: grid; /* 1 */
  grid-template-rows: repeat(13, 30px);
  row-gap: 10px;
}

.timings > div {
  padding: 5px;
  width: 100%;
  background-color: lightgrey;
  box-sizing: border-box;
}

/**
SEMESTER COLUMN
*/

.columns-semesters {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.column-semester {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.column-semester > .title {
  padding: 5px;
  padding-bottom: 15px;
  flex-basis: 30px;
  font-size: large;
}

.column-semester > .semester-events {
  background-color: lightgray;
  flex-grow: 1;
}

.semester-events-grid {
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(13, 30px);
}

.semester-events-grid .grid-item {
  background-color: red;
}

/**
DETAIL COLUMN
*/

.column-details {
  margin-left: 10px;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  align-content: flex-start;
  overflow: hidden;
  max-height: 560px;
}

.detail-events {
  position: relative;
}

.detail-events .transparency {
  top: 400px;
  height: 160px;
  width: 100%;
  background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 80%
  );
  display: block;
  position: absolute;
}

.detail-events .detail-entry {
  border-bottom: 3pt solid lightgray;
}


.detail-events .detail-entry:last-child {
  border: none;
}
